.navigation-menu {
  display: flex;

  &__link {
    display: flex;
    align-items: flex-end;
    background: @color-danger;
    text-transform: uppercase;
    color: @white;
    font-family: "BebasNeuebold";
    margin-right: 20px;
    padding: 40px 10px 5px;
    font-size: 26px;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      color: @white;
    }
  }
}
