.selection {
  background: @white;
  padding: 20px;
  box-shadow: 0 0 15px 5px fade(@black, 5%);

  img {
    &:extend(.img-fluid);
    display: block;
    margin: 30px auto;
  }

  &__title {
    font-size: @font-size--h3;
    text-transform: uppercase;
    color: @black;
    text-align: center;

    span {
      display: block;
      // font-size: @font-size--h1;
    }

    &--1 {
      font-size: 43px;
      line-height: 1;

      span {
        font-size: 72px;
      }
    }

    &--2 {
      font-size: 32px;
      line-height: 1;
      span {
        font-size: 83px;
      }
    }

    &--3 {
      font-size: 33px;
      line-height: 1;
      span {
        font-size: 82px;
      }
    }
  }

  p {
    text-indent: 1.5em;
  }
}
