.title-block {
  width: 70%;

  &__title {
    text-transform: uppercase;
    color: @white;

    b {
      display: block;
    }

    span {
      display: block;
    }
  }

  &__tagline {
    color: @white;
    text-transform: uppercase;
  }
}
